# Uncomment this to use GitHub Repository for packages. Because GitHub requires
# authentication also to only READ packages, remember to set your personal token accordingly
# or you will get a "Unable to authenticate, need: Basic realm="GitHub Package Registry" error
# while running `npm install`
#registry=https://npm.pkg.github.com/InternetOfPeers
