<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<header></header>

	<main role="main" class="container">
		<!-- Modals -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="myModalTitle"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="myModalMessage"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-bind="visible: canSign, click: addMessage" data-dismiss="modal">Next: Add message on chain</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalUpdateTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="myModalUpdateTitle"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="myModalUpdateMessage"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-bind="visible: canSign && canUpdate, click: updateMessage" data-dismiss="modal">Next:
							Update message on chain</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-danger" id="myModalDeleteTitle"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="myModalDeleteMessage"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-bind="visible: canSign, click: deleteMessage" data-dismiss="modal">Next: Delete message on chain</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Content -->
		<h1 class="">My Own Messages</h1>
		<p class="lead">Write and read your own certified messages to the permanent web.</p>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="new-message-tab" data-toggle="tab" href="#new-message" role="tab" aria-controls="new-message" aria-selected="true">New Message</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="edit-message-tab" data-toggle="tab" href="#edit-message" role="tab" aria-controls="edit-message" aria-selected="false">Update Message</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="message-list-tab" data-toggle="tab" href="#message-list" role="tab" aria-controls="message-list" aria-selected="false">Message list</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="operation-list-tab" data-toggle="tab" href="#operation-list" role="tab" aria-controls="operation-list" aria-selected="false">Operation list</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">Status</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">Help</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="message-list" role="tabpanel" aria-labelledby="message-list-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<p>
								Refresh the page to see updates in this page (dynamic reload is WIP)
							</p>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Actions</th>
										<th>CID</th>
										<th>Transaction</th>
									</tr>
								</thead>
								<tbody data-bind="foreach: messageList">
									<tr>
										<td>
											<button class="btn mom" data-bind="click: $parent.edit"><i class="far fa-eye"></i></button>
											<button class="btn mom" data-bind="click: $parent.edit"><i class="far fa-edit"></i></button>
											<button class="btn mom" data-bind="click: $parent.comment"><i class="far fa-comment-dots"></i></button>
											<button class="btn mom" data-bind="click: $parent.delete"><i class="far fa-trash-alt"></i></button>
										</td>
										<td data-bind="text: cid"></td>
										<td data-bind="html: transactionHashLink"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade show active" id="new-message" role="tabpanel" aria-labelledby="new-message-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<p id="messageBox" class="messageBox">
								<textarea id="currentMessage"></textarea>
							</p>
						</div>
						<div>
							<button id="publish" type="button" class="btn btn-primary float-right" data-bind="click: publish">Publish</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="operation-list" role="tabpanel" aria-labelledby="operation-list-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Type</th>
										<th>CID 1</th>
										<th>CID 2</th>
										<th>Transaction</th>
										<th>Block #</th>
									</tr>
								</thead>
								<tbody data-bind="foreach: operationListSorted">
									<tr>
										<td data-bind="text: operationComputed"></td>
										<td data-bind="text: firstCID"></td>
										<td data-bind="text: secondCID"></td>
										<td data-bind="html: transactionHashLink"></td>
										<td data-bind="html: blockNumberComputed"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="edit-message" role="tabpanel" aria-labelledby="edit-message-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="editCID">Previous Message CID</label>
										<input type="text" class="form-control" id="editCID" data-bind="value: lastEditCID" aria-describedby="editCID">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md">
							<p id="messageBoxToUpdate" class="messageBoxToUpdate">
								<textarea id="messageToUpdate"></textarea>
							</p>
						</div>
						<div>
							<button id="fetch " type="button" class="btn btn-primary float-right" data-bind="click: fetch">Fetch CID</button>
							<br /><br />
							<button id="publish" type="button" class="btn btn-primary float-right" data-bind="click: publishUpdate">Publish update</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<p><span style="color: #1a6699"><i class="fab fa-ethereum fa-2x"></i></span>
								<span>Ethereum</span>
								<ul>
									<li>Connection: <span class="bold" data-bind="text: ethStatus"></span></li>
									<li>Network ID: <span data-bind="text: ethNetworkID"></span></li>
									<li>Network name: <span data-bind="text: ethNetworkName"></span></li>
									<li>Block number: <span data-bind="text: ethBlockNumber"></span></li>
									<li>Current address: <span class="bold" data-bind="text: ethAddress"></span></li>
								</ul>
							</p>
							<p><span style="color: #1a6699"><i class="fas fa-cube fa-2x"></i></span> <span>IPFS</span>
								<ul>
									<li>Connection: <span class="bold" data-bind="text: ipfsStatus"></span></li>
								</ul>
							</p>
						</div>
						<div>
							<button id="refresh" type="button" class="btn btn-primary float-right" data-bind="click: refreshStatus">Refresh</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<p>
								All the settings are saved locally inside your current browser. No remote servers were
								harmed in the storing of these settings.
							</p>
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="ipfsDaemonAddr">IPFS API</label>
										<input type="text" class="form-control" id="ipfsDaemonAddr" data-bind="value: ipfsDaemonAddr" aria-describedby="ipfsDaemonAddress">
										<small id="ipfsDaemonAddress" class="form-text text-muted">Use URL format (i.e. https://my.ipfs.server.name) or <a target="_blank" href="https://github.com/multiformats/multiaddr">multiaddr</a>
											format (i.e. /ip4/127.0.0.1/tcp/5001)</small>
									</div>
								</div>
							</form>
						</div>
						<div>
							<button id="save" type="button" class="btn btn-primary float-right" data-bind="click: saveSettings">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
				<div class="container-fluid">
					<div class="row mt-3">
						<div class="col-md">
							<p>How to (TODO)</p>
							<p>Fork the repo from <a href="https://github.com/InternetOfPeers/mom-client">Github</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted"><a href="https://github.com/InternetOfPeers/mom-client">MOM client v0.5.6</a> using <a href="https://github.com/InternetOfPeers/mom-js">mom-js</a> v1.0.5 - Created with <span style="color: #c00921"><i class="fas fa-heart"></i></span> by <a href="https://github.com/neurone">Giuseppe
					Bertone</a></span>
		</div>
	</footer>
</body>

</html>
